body{
	background: #AFAAA8;
}

p {
	font-family: Arial, Sans-serif, Verdana, "Times New Roman", "Lucida Console";
}

.Texto{
	background-color: white;
	padding: 30px;
  text-align: justify;
  display: block;
}

.Texto h2{
  text-align: center;
}

.Header{
	width: 96.85%;
	background-image: url('images/server.png');
	/*background-color: #16E9BF;*/
  padding: 30px;
  text-align: center;
  display: block;
}

.Header h1{
		color: white;
}

.Agrupacion a:link{
	background-color: #f44336;
	color: white;
	padding: 15px;
	text-align: center;
}

.Agrupacion a:hover {
	background-color: #0099cc;
}

.Agrupacion p{
	display: inline-block;
}

.Agrupacion{
	background-color:  #f44336;
}

.Pie {
		background-color: #FACFBB;
	  padding: 5px 5px 50px 5px;
		bottom: 0;
}

.valid{
    position:relative;
    clear:none;
    float:right;
}

.cc{
	position:relative;
	clear:none;
}
